body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.adot {
	position: absolute;
	border-radius: 25px;
	width: 15px;
	height: 15px;
	background: red;
	left: 15px;
	top: 15px;
}